ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: right;
}

li {
	display: inline;
	font-size: 13px;
}

a {
	color: #222;
	text-decoration: none;
}

body{
	font-family: arial, sans-serif;
}

span {
	background: #4285f4;
	color: #fff;
}